<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QuantumComputing -->
      <package
            uri="http://quantum-computing/1.0"
            class="jku.se.quantum.computing.mm.QuantumComputing.QuantumComputingPackage"
            genModel="model/QuantumComputing.genmodel"/>
   </extension>

</plugin>
